<div class="container ym-footer-wrapper">
    <div>
        <img class="ym-footer-logo" src="img/footer-logo.png">
    </div>
    <hr>
    <span class="ym-footer-right">Copyright ⓒ 2016 Seungwoo Yeom All Rights Reserved.<br>Made By Myself With Node.js<br><a
                href="//github.com/endlessdev/yeomme"><b class="ym-footer-github-link"><i class="fa fa-code-fork"
                                                                                          aria-hidden="true"></i> Fork This Project</b></a></span>
</div>