<div class="ym-profile-widget">
    <div class="col-xs-12 col-md-3 col-lg-3 ym-profile-widget-wrapper">
        <ul class="list-group ym-list-group">
            <li class="list-group-item ym-profile-box">
                <div class="ym -profile-wrapper">
                    <div class="ym-profile-img-bg"></div>
                    <div class="ym-profile-img"></div>
                    <div class="ym-profile-info">
                        <p class="ym-profile-name">Jade Yeom</p>
                        <p class="ym-profile-subname">Seungwoo Yeom</p>
                        <p class="ym-profile-introduce">실패는 나에게 성공의 기회다.</p>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <span class="badge">endlessdev</span>
                <a href="https://github.com/endlessdev"><i class="fa fa-github" aria-hidden="true"></i>Github</a>
            </li>
            <li class="list-group-item">
                <span class="badge">Seungwoo Yeom</span>
                <a href="https://www.facebook.com/profile.php?id=100009251337816"><i class="fa fa-facebook-official"
                                                                                     aria-hidden="true"></i>Facebook</a>
            </li>
            <li class="list-group-item">
                <span class="badge">@endless_hack</span>
                <a href="https://twitter.com/endless_hack"><i class="fa fa-twitter"
                                                              aria-hidden="true"></i>Twitter</a>
            </li>
            <li class="list-group-item">
                <span class="badge">endlessdev</span>
                <a href="https://www.instagram.com/endlessdev/"><i><img class="icon-instagram"
                                                                        src="img/icon-instagram.png"></i>Instagram</a>
            </li>
        </ul>
        <% if(page != 'writer') { %>
        <a class="col-xs-12 btn btn-primary write-btn" href="/writer"><span class="glyphicon glyphicon-pencil"
                                                                            aria-hidden="true"></span>글 쓰기</a>
        <% } %>
    </div>
</div>