.ym-post-tab li:not[class=active]{
    color: #6b15a1 !important;
}

.ym-footer{
    background: #eeeeee;
}

.ym-footer-wrapper{
    height: 200px;
}

.ym-footer-logo{
    height:35px;
    vertical-align: middle;
}

.ym-footer-wrapper{
    color: #bdbdbd;
    padding-top: 30px;
}

.ym-footer-right{
    float: right;
    text-align: right;
}

.ym-post-tab li:not(.active) a{
    color: #6b15a1 !important;
}

.icon-instagram{
    width: 12px;
}