<div class="col-xs-12 col-md-9 col-lg-9 ym-post-wrapper">
    <article>
        <h3>나에 대해서</h3>
        <hr>
        <p>현재 한국디지털미디어고등학교의 2학년 웹프로그래밍과에 재학중이며, Ecube Labs의 소프트웨어 엔지니어로 일하고있다.</p>
        <p>흔히 말하는 개자이너(개발자 + 디자이너)가 되고싶다. 사실 그렇게 되고있다. 내가 만들고싶은데로 UX/UI를 설계하며 디자인하고 거기에 백엔드라는 생명을 불어넣어주는일에 재미가
            들려버렸다.</p>
        <p>가끔은 정체성이 흔들리지만 지금은 어디까지 개발자이며, 디자인은 서브로 잡고있다.</p>
        <h3>IT를 시작하게된 계기</h3>
        <hr>
        <p>여렸을때부터 컴퓨터에 관심이 많아서 초등학교 4학년 시절에 포토샵 CS3 책을 사서 강좌보고 따라해본게 내 컴퓨터 인생의 첫걸음이었다. 하지만 책의 딱딱한 내용에 금방 질려버렸고, 재밌는걸 찾다가
            서든어택이라는 게임에 심취하기 시작한다.</p>
        <p>그 게임은 나에게 엄청난 충격과 재미를 주는 동시에 게임중독에 이르게까지 만들었다.
            <del>사실 이 것 때문에 정신과 상담도 받았었다고..</del>
            뭐 그정도로 재밌었다.
        </p>
        <p>그렇게 게임을 즐기던 도중 우연히 그 게임의 불법프로그램, 일명 '핵'이라고 불리우는것을 접하고 만다. 하지만 그것을 구하는데에는 커뮤니티 포럼 카페의 등급이 높았어야 했다. 돈을 입금하는
            형식으로 등업이 진행됬었는데, 잠깐 만졌었던 포토샵실력으로 디자인스탭이 되면 핵을 쉽게 구할 수 있겠다고 생각해서 열심히 디자인을 해서 냈더니 붙어서 등업이 됬고, 불법프로그램을 마음껏 쓸 수
            있었다.</p>
        <p>불법프로그램으로 즐거운 게임생활에 빠져든 나는 문득, 불법프로그램을 내가 만들어보고싶다는 생각이 들었다. 그래서 온갖 포럼과 구글의 도움을받고 많은 시도 끝에 불법프로그램을 만들 수 있었다.
            그런데 뭔가 나만쓰면 심심하니까 포럼에 무료로 뿌렸는데 반응이 상당히 좋았다. 내가 만든것을 다른사람이 잘 써주고 있다는게 너무 좋았다.</p>
        <p>이 때 부터 나는 "누군가를 위해 뭔가 만들고싶다." 라는 막연한 바램으로 프로그래밍을 배웠고, 그 결과 중학교 2학년 제 30회 한국정보올림피아드 공모부문 은상, 중학교 3학년 제 31회
            한국정보올림피아드 공모부문 은상을 수상했고, 지금은 이 수상경력으로 한국디지털미디어고등학교에 입학하여 2학년 웹프로그래밍과에 재학중이다.</p>
        <h3>실패는 나에게 성공의 기회다.</h3>
        <hr>
        <p>부제목이 조금 오글거리지만, 더 이상 내게 실패는 그렇게 부정적으로 다가오진 않는다.
            <del>왜냐면 실패를 존나 많이했거든.</del>
        </p>
        <p>고등학교 입학 후 학교적응도 안되고 공부랑 IT병행 문제, 여자문제(?) 까지 문제가 한두가지가 아니었다. 심지어 작년 2015년에 참가한 모든 대회에서 다 떨어졌다.</p>
    </article>
</div>