<ul class="nav nav-tabs ym-post-tab">
    <li role="presentation" class="active"><a href="#">최신순</a></li>
    <li role="presentation"><a href="#">인기순</a></li>
    <li role="presentation"><a href="#">댓글순</a></li>
</ul>
<ul class="ym-posts-list">
    <% for (var i = 0; i < 5; i++){ %>
    <li>
        <article class="post-article ">
            <div class="post-thumb">
            </div>
            <div class="post-content">
                <div class="post-title"><span class="title">Google IO Extended in Seoul 참관 후기</span>
                    <span class="label label-primary">후기</span></div>

            <span class="content">군인은 현역을 면한 후가 아니면 국무총리로 임명될 수 없다. 국회는 헌법개정안이 공고된 날로부터 60일 이내에 의결하여야 하며, 국회의 의결은 재적의원 3분의 2 이상의 찬성을 얻어야 한다.
법률이 헌법에 위반되는 여부가 재판의 전제가 된 경우에는 법원은 헌법재판소에 제청하여 그 심판에 의하여 재판한다. 대법관은 대법원장의 제청으로 국회의 동의를 얻어 대통령이 임명한다.</span>
                <div class="post-info">
                    <span class="info date"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>2016.03.06</span>
                    <span class="info view"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>234</span>
                </div>
            </div>

        </article>
    </li>
    <% } %>
</ul>