<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>YEOM.ME :: Jade Yeom's Blog</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/css/common.css">
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/header.css">
    <link rel="stylesheet" href="static/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/lib/font-awesome/css/font-awesome.min.css">
    <script src="static/lib/jquery-1.12.3.min.js"></script>
    <script src="static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/lib/parallax.min.js"></script>
    <script src="static/js/index.js"></script>
</head>
<body>
<header>
    <% include ../partials/header.ejs %>
</header>
<div class=ym-main-slider>
    <div class="container">
        <div class="ym-slider-msg">
            <p class="slider-first-msg">不狂不及</p>
            <p class="slider-first-summary">미치지 않으면 미치지 못한다.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="ym-profile-widget">
        <div class="col-xs-12 col-md-3 col-lg-3 ym-profile-widget-wrapper">
            <ul class="list-group ym-list-group">
                <li class="list-group-item ym-profile-box">
                    <div class="ym-profile-wrapper">
                        <div class="ym-profile-img-bg"></div>
                        <div class="ym-profile-img"></div>
                        <div class="ym-profile-info">
                            <p class="ym-profile-name">Jade Yeom</p>
                            <p class="ym-profile-subname">Seungwoo Yeom</p>
                            <p class="ym-profile-introduce">실패는 나에게 성공의 기회다.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <span class="badge">endlessdev</span>
                    <a href="https://github.com/endlessdev"><i class="fa fa-github" aria-hidden="true"></i>Github</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">Seungwoo Yeom</span>
                    <a href="https://www.facebook.com/profile.php?id=100009251337816"><i class="fa fa-facebook-official"
                                                                                         aria-hidden="true"></i>Facebook</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">@endless_hack</span>
                    <a href="https://twitter.com/endless_hack"><i class="fa fa-twitter"
                                                                  aria-hidden="true"></i>Twitter</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">endlessdev</span>
                    <a href="https://www.instagram.com/endlessdev/"><i><img class="icon-instagram" src="static/img/icon-instagram.png"></i>Instagram</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 col-md-9 col-lg-9 ym-post-wrapper">
        <ul class="nav nav-tabs ym-post-tab">
            <li role="presentation" class="active"><a href="#">최신순</a></li>
            <li role="presentation"><a href="#">인기순</a></li>
            <li role="presentation"><a href="#">댓글순</a></li>
            <li class="ym-write"><button class="btn-primary ym-write-post-btn"><i class="fa fa-pencil" aria-hidden="true"></i>글 작성</button></li>
        </ul>
        <article class="ym-post-article">
            <hgroup class="ym-post-group">
                <section class="ym-post-title-section">나에 대해서.</section>
                <section class="ym-post-contents-section">프로그래밍을 접하기 전 당시에 난 디자인에 대한 관심이 컸다.
                    초등학교때부터 포토샵 CS3 책을 산 이후로부터 관심이 생기기 시작했다.
                    그 당시 책을 다 보진 못했고, 그렇게 주기적으로 읽진 않았다.
                    하지만 그로 인해 포토샵에 쉬운 툴정도는 만질 수 있었고
                    평소에 주변에서 봐왔던 포스터라던지, 명함 등을 보고
                    나도 저런거 한번 만들어 보고 싶다. 라는 생각에 모방하는 식으로 실력을 길러왔다.
                    내 생각이지만 디자인은 결코 툴을 아무리 잘 만진다고 해서 되는게 아니다.
                    디자인은 감각이다. 디자인 감각이 없으면 아무리 그래픽 툴을 잘 만진다고 해도
                    그리 좋은 결과를 내진 못할 것 이다.
                </section>
                <div class="ym-post-img-prev"></div>
                <div class="ym-post-status">
                    <span class="post-info ym-post-date"><i class="fa fa-clock-o" aria-hidden="true"></i>2015.02.06 04:57</span>
                    <span class="post-info ym-post-reaction"><i class="fa fa-comments-o"
                                                                aria-hidden="true"></i>25개</span>
                </div>
            </hgroup>
        </article>
        <article class="ym-post-article">
            <hgroup class="ym-post-group">
                <section class="ym-post-title-section">나에 대해서.</section>
                <section class="ym-post-contents-section">프로그래밍을 접하기 전 당시에 난 디자인에 대한 관심이 컸다.
                    초등학교때부터 포토샵 CS3 책을 산 이후로부터 관심이 생기기 시작했다.
                    그 당시 책을 다 보진 못했고, 그렇게 주기적으로 읽진 않았다.
                    하지만 그로 인해 포토샵에 쉬운 툴정도는 만질 수 있었고
                    평소에 주변에서 봐왔던 포스터라던지, 명함 등을 보고
                    나도 저런거 한번 만들어 보고 싶다. 라는 생각에 모방하는 식으로 실력을 길러왔다.
                    내 생각이지만 디자인은 결코 툴을 아무리 잘 만진다고 해서 되는게 아니다.
                    디자인은 감각이다. 디자인 감각이 없으면 아무리 그래픽 툴을 잘 만진다고 해도
                    그리 좋은 결과를 내진 못할 것 이다.
                </section>
                <div class="ym-post-img-prev"></div>
                <div class="ym-post-status">
                    <span class="post-info ym-post-date"><i class="fa fa-clock-o" aria-hidden="true"></i>2015.02.06 04:57</span>
                    <span class="post-info ym-post-reaction"><i class="fa fa-comments-o"
                                                                aria-hidden="true"></i>25개</span>
                </div>
            </hgroup>
        </article>
        <article class="ym-post-article">
            <hgroup class="ym-post-group">
                <section class="ym-post-title-section">나에 대해서.</section>
                <section class="ym-post-contents-section">프로그래밍을 접하기 전 당시에 난 디자인에 대한 관심이 컸다.
                    초등학교때부터 포토샵 CS3 책을 산 이후로부터 관심이 생기기 시작했다.
                    그 당시 책을 다 보진 못했고, 그렇게 주기적으로 읽진 않았다.
                    하지만 그로 인해 포토샵에 쉬운 툴정도는 만질 수 있었고
                    평소에 주변에서 봐왔던 포스터라던지, 명함 등을 보고
                    나도 저런거 한번 만들어 보고 싶다. 라는 생각에 모방하는 식으로 실력을 길러왔다.
                    내 생각이지만 디자인은 결코 툴을 아무리 잘 만진다고 해서 되는게 아니다.
                    디자인은 감각이다. 디자인 감각이 없으면 아무리 그래픽 툴을 잘 만진다고 해도
                    그리 좋은 결과를 내진 못할 것 이다.
                </section>
                <div class="ym-post-img-prev"></div>
                <div class="ym-post-status">
                    <span class="post-info ym-post-date"><i class="fa fa-clock-o" aria-hidden="true"></i>2015.02.06 04:57</span>
                    <span class="post-info ym-post-reaction"><i class="fa fa-comments-o"
                                                                aria-hidden="true"></i>25개</span>
                </div>
            </hgroup>
        </article>
        <article class="ym-post-article">
            <hgroup class="ym-post-group">
                <section class="ym-post-title-section">나에 대해서.</section>
                <section class="ym-post-contents-section">프로그래밍을 접하기 전 당시에 난 디자인에 대한 관심이 컸다.
                    초등학교때부터 포토샵 CS3 책을 산 이후로부터 관심이 생기기 시작했다.
                    그 당시 책을 다 보진 못했고, 그렇게 주기적으로 읽진 않았다.
                    하지만 그로 인해 포토샵에 쉬운 툴정도는 만질 수 있었고
                    평소에 주변에서 봐왔던 포스터라던지, 명함 등을 보고
                    나도 저런거 한번 만들어 보고 싶다. 라는 생각에 모방하는 식으로 실력을 길러왔다.
                    내 생각이지만 디자인은 결코 툴을 아무리 잘 만진다고 해서 되는게 아니다.
                    디자인은 감각이다. 디자인 감각이 없으면 아무리 그래픽 툴을 잘 만진다고 해도
                    그리 좋은 결과를 내진 못할 것 이다.
                </section>
                <div class="ym-post-img-prev"></div>
                <div class="ym-post-status">
                    <span class="post-info ym-post-date"><i class="fa fa-clock-o" aria-hidden="true"></i>2015.02.06 04:57</span>
                    <span class="post-info ym-post-reaction"><i class="fa fa-comments-o"
                                                                aria-hidden="true"></i>25개</span>
                </div>
            </hgroup>
        </article>
        <article class="ym-post-article">
            <hgroup class="ym-post-group">
                <section class="ym-post-title-section">나에 대해서.</section>
                <section class="ym-post-contents-section">프로그래밍을 접하기 전 당시에 난 디자인에 대한 관심이 컸다.
                    초등학교때부터 포토샵 CS3 책을 산 이후로부터 관심이 생기기 시작했다.
                    그 당시 책을 다 보진 못했고, 그렇게 주기적으로 읽진 않았다.
                    하지만 그로 인해 포토샵에 쉬운 툴정도는 만질 수 있었고
                    평소에 주변에서 봐왔던 포스터라던지, 명함 등을 보고
                    나도 저런거 한번 만들어 보고 싶다. 라는 생각에 모방하는 식으로 실력을 길러왔다.
                    내 생각이지만 디자인은 결코 툴을 아무리 잘 만진다고 해서 되는게 아니다.
                    디자인은 감각이다. 디자인 감각이 없으면 아무리 그래픽 툴을 잘 만진다고 해도
                    그리 좋은 결과를 내진 못할 것 이다.
                </section>
                <div class="ym-post-img-prev"></div>
                <div class="ym-post-status">
                    <span class="post-info ym-post-date"><i class="fa fa-clock-o" aria-hidden="true"></i>2015.02.06 04:57</span>
                    <span class="post-info ym-post-reaction"><i class="fa fa-comments-o"
                                                                aria-hidden="true"></i>25개</span>
                </div>
            </hgroup>
        </article>
        <article class="ym-post-article">
            <hgroup class="ym-post-group">
                <section class="ym-post-title-section">나에 대해서.</section>
                <section class="ym-post-contents-section">프로그래밍을 접하기 전 당시에 난 디자인에 대한 관심이 컸다.
                    초등학교때부터 포토샵 CS3 책을 산 이후로부터 관심이 생기기 시작했다.
                    그 당시 책을 다 보진 못했고, 그렇게 주기적으로 읽진 않았다.
                    하지만 그로 인해 포토샵에 쉬운 툴정도는 만질 수 있었고
                    평소에 주변에서 봐왔던 포스터라던지, 명함 등을 보고
                    나도 저런거 한번 만들어 보고 싶다. 라는 생각에 모방하는 식으로 실력을 길러왔다.
                    내 생각이지만 디자인은 결코 툴을 아무리 잘 만진다고 해서 되는게 아니다.
                    디자인은 감각이다. 디자인 감각이 없으면 아무리 그래픽 툴을 잘 만진다고 해도
                    그리 좋은 결과를 내진 못할 것 이다.
                </section>
                <div class="ym-post-img-prev"></div>
                <div class="ym-post-status">
                    <span class="post-info ym-post-date"><i class="fa fa-clock-o" aria-hidden="true"></i>2015.02.06 04:57</span>
                    <span class="post-info ym-post-reaction"><i class="fa fa-comments-o"
                                                                aria-hidden="true"></i>25개</span>
                </div>
            </hgroup>
        </article>
    </div>
</div>
<footer class="ym-footer">
    <% include ../partials/footer.ejs %>
</footer>
</body>
</html>