<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>YEOM.ME :: Jade Yeom's Blog</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/writer.css">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="lib/bootstrap-markdown/css/bootstrap-markdown.min.css">
    <script src="lib/jquery-1.12.3.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/parallax.min.js"></script>
    <script src="lib/bootstrap-markdown/js/bootstrap-markdown.js"></script>
    <script src="lib/bootstrap-markdown/locale/bootstrap-markdown.kr.js"></script>
</head>
<body>
<header>
    <% include ../partials/header.ejs %>>
</header>
<div class=ym-main-slider>
    <div class="container">
        <!--<div class="parallex-window " data-parallax="scroll" data-image-src="static/img/slider-first.jpg"></div>-->
        <div class="ym-slider-msg">
            <p class="slider-first-msg">不狂不及</p>
            <p class="slider-first-summary">미치지 않으면 미치지 못한다.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="ym-profile-wiget">
        <div class="col-xs-12 col-md-3 col-lg-3 ym-profile-widget-wrapper">
            <ul class="list-group ym-list-group">
                <li class="list-group-item ym-profile-box">
                    <div class="ym-profile-wrapper">
                        <div class="ym-profile-img-bg"></div>
                        <div class="ym-profile-img"></div>
                        <div class="ym-profile-info">
                            <p class="ym-profile-name">Jade Yeom</p>
                            <p class="ym-profile-subname">Seungwoo Yeom</p>
                            <p class="ym-profile-introduce">실패는 나에게 성공의 기회다.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <span class="badge">endlessdev</span>
                    <a href="https://github.com/endlessdev"><i class="fa fa-github" aria-hidden="true"></i>Github</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">Seungwoo Yeom</span>
                    <a href="https://www.facebook.com/profile.php?id=100009251337816"><i class="fa fa-facebook-official"
                                                                                         aria-hidden="true"></i>Facebook</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">@endless_hack</span>
                    <a href="https://twitter.com/endless_hack"><i class="fa fa-twitter"
                                                                  aria-hidden="true"></i>Twitter</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">endlessdev</span>
                    <a href="https://www.instagram.com/endlessdev/"><i><img class="icon-instagram" src="static/img/icon-instagram.png"></i>Instagram</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 col-md-9 col-lg-9 ym-post-writer">
        <form>
            <input name="title" class="ym-post-writer-title" type="text" placeholder="제목을 입력해주세요." />
            <textarea class="ym-post-writer-content" name="content" data-provide="markdown" rows="10"></textarea>
            <button type="submit" class="btn ym-post-writer-submit"><i class="fa fa-pencil" aria-hidden="true"></i>글 쓰기</button>
        </form>
    </div>
</div>
<footer class="ym-footer">
    <% include ../partials/footer.ejs %>
</footer>
</body>
</html>