<section class="writer-box">
    <input type="text" class="write-title" placeholder="제목을 입력해주세요.">
    <div class="write-content" id="summernote"></div>
    <button type="button" class="btn btn-primary">글 작성</button>
</section>


<script>
    $('#summernote').summernote({
        height: 500,
        minHeight: null,
        maxHeight: null,
        focus: true
    });
</script>