<section class="writer-box">
    <div class="submit-box">
        <select class="form-control post-category">
            <option selected disabled>카테고리 선택</option>
        </select>
        <div class="post-btn-group">
            <button class="btn btn-default post-cancel">작성 취소</button>
            <button type="button" class="btn btn-primary post-submit">글 작성</button>
        </div>
    </div>
    <input type="text" class="write-title" placeholder="제목을 입력해주세요.">
    <div class="write-content" id="summernote"></div>
</section>


<script>
    $('#summernote').summernote({
        height: 500,
        minHeight: null,
        maxHeight: null,
        focus: true
    });
</script>